<div class="container" style="width: inherit;">
  <div class="row">
    <div class="col-lg-6">
      <h4>Traveler Details</h4>
      <% if @reimbursement_request.new_record? %>
        <% if current_user.has_delegators? %>
          <div class="ui-widget-content ui-corner-all wide partial_form">
            <%= f.label :user_id, 'Submit request for:' %><br/>
            <%= f.select :user_id, options_from_collection_for_select([current_user] + current_user.delegators, "id", "full_name", current_user.id) %>
          </div>
        <% else %>
          <p>Submitting Travel Request as: <%= current_user.full_name %></p>
        <% end %>
      <% else %>
        <% if @reimbursement_request.form_email != @reimbursement_request.user.email %>
          <div class="ui-widget-content ui-corner-all wide partial_form">
            Submitted for:
            <%= @reimbursement_request.user.full_name %>
            <br/>
            <b>Submitted by</b>
            <%= @reimbursement_request.form_user %>
          </div>
        <% else %>
          <p>Reimbursement Request for <%= @reimbursement_request.user.full_name %></p>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-6"></div>
  </div>
</div>

<div class="container" style="width: inherit;">
  <h4>Travel Event Details</h4>
  <div class="row">
    <div class="col-lg-6">
      <div id="itinerary-attachment">
        <h5>Itinerary for Travel</h5>
        <p>Please see Family Medicine Travel Expense Reimbursement Guide for itinerary requirements</p>
        <%= f.fields_for :user_files, f.object.itinerary_ufs do |g| %>
          <%= render partial: 'user_file_fields', locals: { f: g, document_type: 'Itinerary' } %>
        <% end %>
        <%= link_to_add_association '+ Add File', f, :user_files,
          partial: 'user_file_fields',
          id: 'add-assoc-itinerary',
          render_options: { locals: { document_type: 'Itinerary' } } %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          <div class="depart_date">
            <%= f.label :depart_date, 'Departure date:' %>
            <br />
            <%= f.date_field :depart_date, required: :required,
              min: '2000-01-01', max: '2100-01-1' %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="return_date">
            <%= f.label :return_date, 'Return date:' %>
            <br />
            <%= f.date_field :return_date, required: :required,
              min: '2000-01-01', max: '2100-01-1' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div id="agenda-attachment">
            <h5>Agenda of Event</h5>
            <p>Please see Family Medicine Travel Expense Reimbursement Guide for agenda requirements</p>
            <%= f.fields_for :user_files, f.object.agenda_ufs do |g| %>
              <%= render partial: 'user_file_fields', locals: { f: g, document_type: 'Agenda' } %>
            <% end %>
            <%= link_to_add_association '+ Add File', f, :user_files,
              partial: 'user_file_fields',
              id: 'add-assoc-agenda',
              render_options: { locals: { document_type: 'Agenda' } } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4>Event & Travel Expenses</h4>
  <div class="daily_meal_reimb">
    <p>For each day select the meal(s) for which Per Diem is requested. Then,
      below, please explain instances where Per Diem was not requested (e.g.
      left after 2pm, only require dinner on first day; lunch provided at
      conference; etc.)
      <i class="glyphicon glyphicon-question-sign"
        style="font-size: 1.4em; cursor: pointer; cursor: hand;" data-html="true"
        data-toggle="popover" title="Per Diem Timetable"></i></p>
    <div id="popover-content" style="display: none;">
      <table border="1" style="width: 100%">
        <tr>
          <th rowspan=2>Departure/Arrival Time</th>
          <th colspan=3>Departure Day*</th>
          <th colspan=3>Return Day*</th>
        </tr>
        <tr>
          <td><em>Breakfast</em></td>
          <td><em>Lunch</em></td>
          <td><em>Dinner</em></td>
          <td><em>Breakfast</em></td>
          <td><em>Lunch</em></td>
          <td><em>Dinner</em></td>
        </tr>
        <tr>
          <td><b>**5:00am - 9:59am<b></td>
          <td><b>&#10004;<b></td>
          <td><b>&#10004;<b></td>
          <td><b>&#10004;<b></td>
          <td><b>&#10004;<b></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><b>10:00am - 1:59pm<b></td>
          <td></td>
          <td><b>&#10004;<b></td>
          <td><b>&#10004;<b></td>
          <td><b>&#10004;<b></td>
          <td><b>&#10004;<b></td>
          <td></td>
        </tr>
        <tr>
          <td><b>2:00pm - 8:59pm**<b></td>
          <td></td>
          <td></td>
          <td><b>&#10004;<b></td>
          <td><b>&#10004;<b></td>
          <td><b>&#10004;<b></td>
          <td><b>&#10004;<b></td>
        </tr>
      </table>
      <p>* Departure and Return time and location must be listed on event agenda and/or itinerary. For information regarding itinerary requirements, refer to Appendix D: Documentation Requirements</p>
      <p>** For departures and arrivals between 9:00pm and 4:59am, there is no per diem without documented reasonable exception</p>
    </div>
    <div class="row">
      <%= f.fields_for :meal_reimbursement_requests do |mrrf| %>
        <%= render partial: 'meal_reimbursement_requests/form', locals: { f: mrrf } %>
      <% end %>
    </div>
    <div class="row">
      <%= f.label :meal_na_desc, 'Use this field to provide information for the instances where Per Diem was not requested:' %>
      <br />
      <%= f.text_area :meal_na_desc, size: '60x40' %>
    </div>
    <hr />
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div>
        <%= f.label :air_use, 'Is traveler submitting for airline reimbursement?', class: 'required' %>
        <p>Note, you must submit a receipt for this expense to receipts@ohsu.edu</p>
        <%= render partial: 'shared/toggle_form_radio_buttons', locals: { f: f, symbol: :air_use, target: nil } %>
      </div>
      <div>
        <%= f.label :lodging_reimb, 'Is traveler submitting for lodging reimbursement?', class: 'required' %>
        <p>Note, you must submit a receipt for this expense to receipts@ohsu.edu</p>
        <%= render partial: 'shared/toggle_form_radio_buttons', locals: { f: f, symbol: :lodging_reimb, target: nil } %>
      </div>

      <div class="toggle_form" id="miles-map-attachment">
        <%= f.label :traveler_mileage_reimb, 'Is traveler submitting for mileage reimbursement?', class: 'required' %>
        <p>Note, you must attach a PDF of a Google Map&trade; indicating all stops on your trip</p>
        <%= render partial: 'shared/toggle_form_radio_buttons', locals: { f: f, symbol: :traveler_mileage_reimb, target: "#traveler_mileage_reimb_form" } %>
        <br />
        <div id="traveler_mileage_reimb_form">
          <%= f.fields_for :user_files, f.object.miles_map_ufs do |g| %>
            <%= render partial: 'user_file_fields', locals: { f: g, document_type: 'MilesMap' } %>
          <% end %>
          <div>
            <%= link_to_add_association '+ Add File', f, :user_files,
              partial: 'user_file_fields',
              id: 'add-assoc-miles-map',
              render_options: { locals: { document_type: 'MilesMap' } } %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div>
        <%= f.label :car_rental, 'Is traveler submitting for rental car reimbursement?', class: 'required' %>
        <p>Note, you must submit a receipt for this expense to receipts@ohsu.edu</p>
        <%= render partial: 'shared/toggle_form_radio_buttons', locals: { f: f, symbol: :car_rental, target: nil } %>
      </div>

      <div>
        <%= f.label :meal_host_reimb, 'Is traveler submitting for meal hosting reimbursement?', class: 'required' %>
        <p>Note, you must submit a receipt for this expense to receipts@ohsu.edu</p>
        <%= render partial: 'shared/toggle_form_radio_buttons', locals: { f: f, symbol: :meal_host_reimb, target: nil } %>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-lg-6">
      <div class="toggle_form">
        <%= f.label :additional_info_needed, 'Are there additional details you would like to provide?' %>
        <br />
        <%= render partial: 'shared/toggle_form_radio_buttons', locals: { f: f, symbol: :additional_info_needed, target: '#additional_info_needed_form' } %>
        <div id="additional_info_needed_form">
          <%= f.label :additional_info_memo, 'Additional details:', class: 'required' %>
          <br />
          <%= f.text_area :additional_info_memo, size: '60x40' %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="toggle_form" id="add-docs-attachment">
        <%= f.label :additional_docs_needed, 'Does traveler have <i>Special Circumstance: Unexpected <br>Change to Travel Plans</i> documentation to provide?'.html_safe %> <br />
        Please see Family Medicine Travel Expense Reimbursement Guide <br />for documentation examples & requirements
        <br />
        <%= render partial: 'shared/toggle_form_radio_buttons', locals: { f: f, symbol: :additional_docs_needed, target: '#additional_docs_needed_form' } %>
        <br />
        <div id="additional_docs_needed_form">
          <%= f.fields_for :user_files, f.object.exception_apps do |g| %>
            <%= render partial: 'user_file_fields', locals: { f: g, document_type: 'ExceptionApp' } %>
          <% end %>
          <div>
            <%= link_to_add_association '+ Add File', f, :user_files,
              partial: 'user_file_fields',
              id: 'add-assoc-add-docs',
              render_options: { locals: { document_type: 'ExceptionApp' } } %>
          </div>
        </div>
      </div>
    </div>
  </div>
