<div class="container" style="width: inherit;">
  <div class="row">
    <div class="col-lg-6">
      <h4>Traveler Details</h4>
      <% if reimbursement_request.form_email != reimbursement_request.user.email %>
        <div class="ui-widget-content ui-corner-all wide partial_form">
          Submitted for:
          <%= reimbursement_request.user.full_name %>
          <br/>
          <b>Submitted by</b>
          <%= reimbursement_request.form_user %>
        </div>
      <% else %>
        <p>Travel Request for <%= reimbursement_request.user.full_name %></p>
      <% end %>
    </div>
    <div class="col-lg-6"></div>
  </div>
</div>

<div class="container" style="width: inherit;">
  <h4>Travel Event Details</h4>
  <div class="row">
    <div class="col-lg-6">
      <p>Are there other Family Medicine Research staff/faculty attending this event? <%= reimbursement_request.other_fmr_attending %></p>
      <div class="itinerary_attachment">
        <h5>Itinerary for Travel</h5>
        <p>Please see Travel and Reimbursement Policy for itinerary requirements</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="depart_date">
        Departure date: <%= reimbursement_request.depart_date %>
      </div>
      <div class="itinerary_attachment">
        <h5>Agenda of Event</h5>
        <p>Please see Travel and Reimbursement Policy for agenda requirements</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="return_date">
        Return date: <%= reimbursement_request.return_date %>
    </div>
  </div>
</div>

  <h4>Event & Travel Expenses</h4>
  <div class="daily_meal_reimb">
    <div class="row">
      <% reimbursement_request.meal_reimbursement_requests.each do |mrr| %>
        <%= render partial: 'meal_reimbursement_requests/show_form', locals: { mrr: mrr } %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      Is traveler submitting for airline reimbursement?
      <br />
      <b><%= hf_reimb_tf_to_words reimbursement_request.air_use %></b>
      <br />
      Is traveler submitting for lodging reimbursement?
      <br />
      <b><%= hf_reimb_tf_to_words reimbursement_request.lodging_reimb %></b>
      <br />
      Is traveler submitting for mileage reimbursement?
      <br />
      <b><%= hf_reimb_tf_to_words reimbursement_request.traveler_mileage_reimb %></b>
    </div>

    <div class="col-lg-6">
      Is traveler submitting for rental car reimbursement?
      <br />
      <b><%= hf_reimb_tf_to_words reimbursement_request.car_rental %></b>
      <br />
      Is traveler submitting for meal hosting reimbursement?
      <br />
      <b><%= hf_reimb_tf_to_words reimbursement_request.meal_host_reimb %></b>
    </div>
  </div>
</div>

<!--   <h4>File Attachments</h4> -->
<!--   <table> -->
  <!--     <tbody> -->
    <!--       <tr> -->
      <!--         <td colspan=2 style="text&#45;align:initial;"> -->
        <!--           <div> -->
          <!--             <%#= f.fields_for :user_files  do |g| %> -->
            <!--               <%#= render partial: 'user_file_fields', locals: { f: g } %> -->
            <!--             <%# end %> -->
            <!--           </div> -->
          <!--           <div> -->
            <!--             <%#= link_to_add_association '+ Add File', f, :user_files %> -->
            <!--           </div> -->
          <!--         </td> -->
        <!--       </tr> -->
      <!--     </tbody> -->
    <!--   </table> -->
  <!--   <ul> -->
    <!--     <li> -->
      <!--       Please include any files that will assist us in the conference registration process. -->
      <!--     </li> -->
    <!--     <li> -->
      <!--       File size limit is 10MB -->
      <!--     </li> -->
    <!--     <li> -->
      <!--       Accepted File Types: -->
      <!--       <span title="Adobe Acrobat compatible PDF">pdf</span>, -->
      <!--       <span title="Supported image types include: png, gif, jpeg">image</span>, -->
      <!--       <span title="Microsoft Word Documents (doc, docx)">word document</span> -->
      <!--     </li> -->
    <!--   </ul> -->
  <!-- </div> -->
<!--  -->
