<div class="container" style="width: inherit;">
  <div class="row">
    <div class="col-lg-6">
      <h4>Traveler Details</h4>
      <% if reimbursement_request.form_email != reimbursement_request.user.email %>
        <div class="ui-widget-content ui-corner-all wide partial_form">
          Submitted for:
          <%= reimbursement_request.user.full_name %>
          <br/>
          <b>Submitted by</b>
          <%= reimbursement_request.form_user %>
        </div>
      <% else %>
        <p>Travel Request for <%= reimbursement_request.user.full_name %></p>
      <% end %>
    </div>
    <div class="col-lg-6"></div>
  </div>
</div>

<div class="container" style="width: inherit;">
  <h4>Travel Event Details</h4>
  <div class="row">
    <div class="col-lg-6">
      <div class="itinerary_attachment">
        <h5>Itinerary for Travel</h5>
        <p>Please see Travel and Reimbursement Policy for itinerary requirements</p>
        <% reimbursement_request.itinerary_ufs.each do |i| %>
          <%= link_to "Download #{i.uploaded_file_file_name}", i.uploaded_file.url %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          <div class="depart_date">
            Departure date: <%= reimbursement_request.depart_date %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="return_date">
            Return date: <%= reimbursement_request.return_date %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="agenda_attachment">
            <h5>Agenda of Event</h5>
            <p>Please see Travel and Reimbursement Policy for agenda requirements</p>
            <% reimbursement_request.agenda_ufs.each do |a| %>
              <%= link_to "Download #{a.uploaded_file_file_name}", a.uploaded_file.url %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <h4>Event & Travel Expenses</h4>
  <div class="daily_meal_reimb">
    <div class="row">
      <% reimbursement_request.meal_reimbursement_requests.each do |mrr| %>
        <%= render partial: 'meal_reimbursement_requests/show_form', locals: { mrr: mrr } %>
      <% end %>
    </div>

    <div class="row">
      <% if reimbursement_request.has_na_meal_reimb? or !reimbursement_request.meal_na_desc.nil? %>
        <div class="col-lg-12">
          <div class="row">
            <p>Per Diem NA explanations:</p>
            <p><%= reimbursement_request.meal_na_desc %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      Is traveler submitting for airline reimbursement?
      <br />
      <b><%= hf_reimb_tf_to_words reimbursement_request.air_use %></b>
      <br />
      Is traveler submitting for lodging reimbursement?
      <br />
      <b><%= hf_reimb_tf_to_words reimbursement_request.lodging_reimb %></b>
      <br />
      Is traveler submitting for mileage reimbursement?
      <br />
      <b><%= hf_reimb_tf_to_words reimbursement_request.traveler_mileage_reimb %></b>
      <% if reimbursement_request.traveler_mileage_reimb %>
        <div id="miles-map-attachment">
          Documents:
          <br />
          <% reimbursement_request.miles_map_ufs.each do |mm| %>
            <%= link_to "Download #{mm.uploaded_file_file_name}", mm.uploaded_file.url %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-lg-6">
      Is traveler submitting for rental car reimbursement?
      <br />
      <b><%= hf_reimb_tf_to_words reimbursement_request.car_rental %></b>
      <br />
      Is traveler submitting for meal hosting reimbursement?
      <br />
      <b><%= hf_reimb_tf_to_words reimbursement_request.meal_host_reimb %></b>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-lg-6">
      Are there additional details provided?
      <br />
      <b><%= hf_boolean_to_words reimbursement_request.additional_info_needed %></b>
      <% if reimbursement_request.additional_info_needed %>
        <div id="additional-info">
          Additional details:
          <br />
          <%= reimbursement_request.additional_info_memo %>
        </div>
      <% end %>
    </div>

    <div class="col-lg-6">
      Is there <i>Special Circumstance: Unexpected <br>Change to Travel Plans</i> documentation provided?
      <br />
      <b><%= hf_boolean_to_words reimbursement_request.additional_docs_needed %></b>
      <% if reimbursement_request.additional_docs_needed %>
        <div id="additional-docs-attachment">
          Documents:
          <br />
          <% reimbursement_request.exception_apps.each do |ea| %>
            <%= link_to "Download #{ea.uploaded_file_file_name}", ea.uploaded_file.url %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
