<div class='row forms_show_actions'>
  <div class='col-xs-3'>
    <!-- always -->
    <%= link_to('Back', @back_path , class: 'btn btn-default') %>
  </div>

  <div class='col-xs-3'>
    <% if can? :update, record %>
      <%= link_to('Edit', polymorphic_path(record, action: 'edit'), class: 'btn btn-default') %>
    <% end %>
  </div>

  <!-- only on show or edit (not new) -->
  <%= yield :extra_actions %>

  <div class='col-xs-3'>
    <!-- only on show -->
    <% if record.approval_state && can?(:submit, record) && record.approval_state.ready_to_submit? %>
      <%= form_for record.approval_state, url: url_for({
        controller: "#{record.class.table_name}",
        action: 'submit',
        user_id: record.user_id,
        id: record.approval_state.approvable_id
      }),
        html: {},
        method: 'post' do |f| %>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>
    <% end %>

  </div>

  <!-- only on show or edit (not new) -->
  <% if can? :destroy, record  %>
    <div class="pull-right col-xs-3">
      <%= link_to "Delete", record, method: :delete, data: { confirm: 'Are you sure that you want to delete this request?' }, class: 'btn btn-danger' %>
    </div>
  <% end %>

</div>


