<% if can?(:edit, record.approval_state) && record.approval_state.ready_to_submit? %>
  <div class="bs-callout bs-callout-danger">
    <h3 class="dangerous very-dangerous"> Request saved, don't forget to submit it! </h3>
    <p>
      Your request has been saved, but please review your information below before submitting it. If you are satisfied with
      the information you have entered please click the button below to <b>submit</b> the request
      and notify your contacts.
    </p>
    <% if user.user_approvers.size > 0 %>
      <%#= render partial: 'users/show_user_contacts', locals: { user: record.user } %>
    <% else %>
      <h4 class="dangerous">
        No contacts present
      </h4>
      <p class="dangerous">
        If you submit this request before creating contacts no one will receive notification of your request.
      </p>
      <p class="dangerous">
        Click <%= link_to 'here', user, target: '_blank'%> to add email addresses to your contacts list
      </p>
    <% end %>
  </div>
<% end %>

<div class="bs-callout bs-callout-primary">
  <h3> Form Details </h3>
  <table class='table'>
    <tbody>
      <% if record.form_email != record.user.email %>
        <tr>
          <td><b>Submitted by:</b></td>
          <td><%= record.form_user %></td>
        </tr>
      <% end %>
      <tr>
        <td><b>Name:</b></td>
        <td><%= record.user.full_name %></td>
      </tr>
      <tr>
        <td><b>Email:</b></td>
        <td><%= record.user.email%></td>
      </tr>
      <tr>
        <td><b>Submitted:</b></td>
        <td><%= tz_convert(record.created_at, current_user.timezone) %></td>
      </tr>
      <tr>
        <td><b>Approval Status:</b></td>
        <td>
          <%= record.approval_state.verdict %>
        </td>
      </tr>
      <tr>
        <td>
          <%= record.user.full_name %>
        </td>
        <td>
          <%= record.approval_state.submitted_or_higher? ? 'Submitted' : '<b style="color:#d9534f;">Unsubmitted</b>'.html_safe %>
        </td>
      </tr>
      <% record.approval_state.process_state.each do |reviewer, verdict| %>
        <tr>
          <td class="<%= 'icon-asterisk' if reviewer.approval_order == record.approval_state.approval_order %>">
            <%= reviewer.full_name %>
          </td>
          <td>
            <% if reviewer.approval_order == record.approval_state.approval_order && current_user == reviewer.approver %>
              <%= render partial: 'users/shared/approvals_reviewer_actions', locals: { approval_state: record.approval_state, user: current_user, record: record } %>
            <% else %>
              <%= verdict %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
