<h1>Listing user_files</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_files.each do |user_file| %>
  <tr>
    <td><%= user_file.user_id %></td>
    <td><%= link_to 'Show', user_file %></td>
    <td><%= link_to 'Edit', edit_user_file_path(user_file) %></td>
    <td><%= button_to 'Destroy', user_file, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User file', new_user_file_path %>
