<div class="row">
  <div class="col-md-4 center-block" style="float:none">
    <p id="notice"><%= notice %></p>
    <h1>This request is in the <%= @leave_request.approval_state.aasm.current_state.to_s %> state</h1>
    <% if "unopened" == @leave_request.approval_state.aasm_state %>
      <p>This request is waiting on the action of <b><%= @leave_request.approval_state.next_user_approver.approver.full_name %></p></b>
    <% elsif !["unsubmitted", "submitted"].include? @leave_request.approval_state.aasm_state %>
      <p>This request is waiting on the action of <b><%= @leave_request.approval_state.current_user_approver.approver.full_name %></p></b>
    <% end %>
    <h3>Things that happened as a part of this transisiton:</h3>
    <ul>
      <% if UserMailer.respond_to? "request_#{@leave_request.approval_state.aasm.current_state}" %>
        <li>sent this email: <%= link_to @leave_request.approval_state.aasm.current_state.to_s, "/rails/mailers/user_mailer/request_#{@leave_request.approval_state.aasm.current_state}" %></li>
      <% end %>
    </ul>
    <h3>Available states include:</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-4 center-block" style="float:none">
    <% (@leave_request.approval_state.aasm.events(permissible: true).map{|s| s.name} - [:unsubmit]).each do |state| %>
      <%= button_to state.to_s.capitalize, public_send(button_to_state_path(state), @leave_request) %>
    <% end %>
  </div>
</div>
<% if ["rejected", "accepted"].include? @leave_request.approval_state.aasm_state %>
  <div class="row">
    <div class="col-md-4 center-block" style="float:none">
      <p>This is a terminal state. The request will now be either deleted or archived depending on what's useful.</p>
      <p><%= link_to "click here", new_leave_request_path %> to start over.</p>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-4 center-block">
    <%= link_to 'Edit', edit_leave_request_path(@leave_request) %> |
    <%= link_to 'Destroy', @leave_request, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', leave_requests_path %>
  </div>
</div>
