<div class="ui-widget-content ui-corner-all wide partial_form">
  <table>
    <tbody>
      <tr>
        <td>
          <%= f.label :form_user, 'Person requesting travel' %>
          <br />
          <%= f.text_field :form_user %>
        </td>
        <td>
          <%= f.label :form_email, 'Email address' %>
          <br />
          <%= f.email_field :form_email %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="ui-widget-content ui-corner-all wide partial_form">
  <h3> Travel Dates</h3>
  <table>
    <tbody>
      <tr>
        <td>
          <%= f.label :dest_desc, 'Travel Destination:' %>
          <br />
          <%= f.text_field :dest_desc %>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <td>
          <%= f.label :dest_depart_date, 'Departure date:' %>
          <br />
          <%= f.date_field :dest_depart_date, required: :required,
            min: '2000-01-01', max: '2100-01-1' %>
        </td>
        <td>
          <%= f.label :dest_depart_hour, 'Departure time: (optional)' %>
          <br />
          <%= f.select :dest_depart_hour, hf_hour_options, { prompt: 'Hour' } %>:
          <%= f.select :dest_depart_min, ['0', '15', '30', '45'], { prompt: 'Min' } %>
        </td>
        <td>
          <%= f.label :dest_arrive_hour, 'Arrival time: (optional)' %>
          <br />
          <%= f.select :dest_arrive_hour, hf_hour_options, { prompt: 'Hour' } %>
          <%= f.select :dest_arrive_min, ['0', '15', '30', '45'], { prompt: 'Min' } %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :ret_depart_date, 'Return date:' %>
          <br />
          <%= f.date_field :ret_depart_date, required: :required,
            min: '2000-01-01', max: '2100-01-1' %>
        </td>
        <td>
          <%= f.label :ret_depart_hour, 'Departure time: (optional)' %>
          <br />
          <%= f.select :ret_depart_hour, hf_hour_options, { prompt: 'Hour' } %>
          <%= f.select :ret_depart_min, ['0', '15', '30', '45'], { prompt: 'Min' } %>
        </td>
        <td>
          <%= f.label :ret_arrive_hour,'Arrival time: (optional)' %>
          <br />
          <%= f.select :ret_arrive_hour, hf_hour_options, { prompt: 'Hour' } %>
          <%= f.select :ret_arrive_min, ['0', '15', '30', '45'], { prompt: 'Min' } %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="toggle_form">
  <h4> Expense </h4>
  <%= f.label :expense_card_use, 'Will travel expenses be charged to an account?' %>
  <%= f.select :expense_card_use,
    options_for_select([['yes', true], ['no', false]], f.object.expense_card_use),
    { prompt: 'Select' }, data: { target: '#expense_card_form' } %>
  <table id="expense_card_form" class="stop_flouc">
    <tbody>
      <tr>
        <td colspan='2'>
          <%= f.label :expense_card_type, 'Account to charge:'%>
          <br/>
          <%= f.select :expense_card_type, grouped_options_for_select(hf_funding_options, f.object.expense_card_type), prompt: 'Select' %>
        </td>
      </tr>
      <tr>
        <td colspan='2'>
          <%= f.label :expense_card_desc, 'Additional Information:' %>
          <br/>
          <%= f.text_area :expense_card_desc, size: '40x3' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="toggle_form">
  <h4>Airline Reservation</h4>
  <%= f.label :air_use, 'Would you like assistance obtaining airline reservations?' %>
  <%= f.select :air_use,
    options_for_select([['yes', true], ['no', false]], f.object.air_use),
    { prompt: 'Select' }, data: { target: '#air_use_form' } %>
  <table id="air_use_form" class="stop_flouc">
    <tbody>
      <tr>
        <td>
          <%= f.label :air_desc, 'Flight Destination:' %>
        </td>
        <td>
          <%= f.text_field :air_desc %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :ffid, 'Frequent Flyer ID:' %>
        </td>
        <td>
          <%= f.text_field :ffid %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :additional_travelers, 'Additional Travelers:' %>
        </td>
        <td>
          <%= f.select :additional_travelers,  (0..8) , prompt: 'Select' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :preferred_airline, 'Preferred Airline:' %>
        </td>
        <td>
          <%= f.text_field :preferred_airline, size: '40x3' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :menu_notes, 'Menu Notes:' %>
        </td>
        <td>
          <%= f.text_area :menu_notes, size: '40x3' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :other_notes, 'Other Notes:' %>
        </td>
        <td>
          <%= f.text_area :other_notes, size: '40x3' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="toggle_form">
  <h4>Rental Car </h4>
  <%= f.label :car_rental, 'Would you like to have us rent a car for you?' %>
  <%= f.select :car_rental,
    options_for_select([['yes', true], ['no', false]], f.object.car_rental),
    { prompt: 'Select' }, data: { target: '#rental_car_form' } %>
  <table id="rental_car_form" class="stop_flouc">
    <tbody>
      <tr>
        <td>
          <%= f.label :car_rental_co, 'Car rental company:' %>
        </td>
        <td>
          <%= f.text_field :car_rental_co %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :car_arrive, 'Rental Start Date' %>
        </td>
        <td>
          <%= f.date_field :car_arrive, class: 'datepicker dest_depart_date',
            min: '2000-01-01', max: '2100-01-1' %>
          <%= f.select :car_arrive_hour, hf_hour_options, { prompt: 'Hour' }, { style: 'margin-left:20px;', class: 'dest_arrive_hour' } %>
          <%= f.select :car_arrive_min, ['0', '15', '30', '45'], { prompt: 'Min' }, { class: 'dest_arrive_min' } %>
          <div class="same_time button">Same as travel dates</div>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :car_depart, 'Rental End Date' %>
        </td>
        <td>
          <%= f.date_field :car_depart, class: 'datepicker ret_depart_date',
            min: '2000-01-01', max: '2100-01-1' %>
          <%= f.select :car_depart_hour, hf_hour_options, { prompt: 'Hour' }, { style: 'margin-left:20px;', class: 'ret_depart_hour' } %>
          <%= f.select :car_depart_min, ['0', '15', '30', '45'], { prompt: 'Min' }, { class: 'ret_depart_min' } %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="toggle_form">
  <h4>Lodging</h4>
  <%= f.label :lodging_use, 'Would you like to have us manage your lodging accommodations?' %>
  <%= f.select :lodging_use,
    options_for_select([['yes', true], ['no', false]], f.object.lodging_use),
    { prompt: 'Select' }, data: { target: '#lodging_form' } %>
  <table id="lodging_form" class="table_form stop_flouc">
    <tbody>
      <tr>
        <td>
          <%= f.label :lodging_card_type, 'Account to charge:' %>
        </td>
        <td>
          <%= f.select :lodging_card_type, grouped_options_for_select(hf_funding_options,f.object.lodging_card_type), prompt: 'Select' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :lodging_card_desc, 'Additional account information:' %>
        </td>
        <td>
          <%= f.text_area :lodging_card_desc, size: '40x3' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :lodging_name %>
        </td>
        <td>
          <%= f.text_field :lodging_name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :lodging_phone %>
        </td>
        <td>
          <%= f.text_field :lodging_phone %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :lodging_arrive_date %>
        </td>
        <td>
          <%= f.date_field :lodging_arrive_date, class: 'datepicker dest_depart_date',
            min: '2000-01-01', max: '2100-01-1' %>
          <div class="same_time button">Same as travel dates</div>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :lodging_depart_date %>
        </td>
        <td>
          <%= f.date_field :lodging_depart_date, class: 'datepicker ret_depart_date',
            min: '2000-01-01', max: '2100-01-1' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :lodging_additional_people %>
        </td>
        <td>
          <%= f.text_area :lodging_additional_people, size: '40x3' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :lodging_other_notes %>
        </td>
        <td>
          <%= f.text_area :lodging_other_notes, size: '40x3' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="toggle_form">
  <h4> Conference Registration</h4>
  <%= f.label :conf_prepayment, 'Do you need to prepay for conference registration?' %>
  <%= f.select :conf_prepayment,
    options_for_select([['yes', true], ['no', false]], f.object.conf_prepayment),
    { prompt: 'Select' }, data: { target: '#conf_prepayment_form' }  %>
  <table id="conf_prepayment_form" class="stop_flouc">
    <tbody>
      <tr>
        <td>
          <%= f.label :conf_desc, 'Other Notes:' %>
        </td>
        <td>
          <%= f.text_area :conf_desc, size: '40x3' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <h4>File Attachments</h4>
  <table>
    <tbody>
      <tr>
        <td colspan=2 style="text-align:initial;">
          <div>
            <%= f.fields_for :user_files  do |g| %>
              <%= render partial: 'user_file_fields', locals: { f: g } %>
            <% end %>
          </div>
          <div>
            <%= link_to_add_association '+ Add File', f, :user_files %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ul>
    <li>
      Please include any files that will assist us in the conference registration process.
    </li>
    <li>
      File size limit is 10MB
    </li>
    <li>
      Accepted File Types:
      <span title="Adobe Acrobat compatible PDF">pdf</span>,
      <span title="Supported image types include: png, gif, jpeg">image</span>,
      <span title="Microsoft Word Documents (doc, docx)">word document</span>
    </li>
  </ul>
</div>

