<div class="col-lg-2 col-xs-12">
  <div class="row">
    <%= f.label :reimb_date, f.object.reimb_date.strftime("%a %B %d, %Y") %>
  </div>

  <div class="row">
    <%= f.label :breakfast %>
    <br />
    <%= f.check_box :breakfast %> Per Diem
  </div>

  <div class="row">
    <%= f.label :lunch %>
    <br />
    <%= f.check_box :lunch %> Per Diem
  </div>

  <div class="row">
    <%= f.label :dinner %>
    <br />
    <%= f.check_box :dinner %> Per Diem
  </div>
</div>
