<div class="col-lg-2 col-xs-12">
  <div class="row">
    <%= f.label :reimb_date, f.object.reimb_date.strftime("%a %B %d, %Y") %>
  </div>

  <div class="row">
    <%= f.label :breakfast %>
    <br />
    <%= f.radio_button :breakfast, true %> Per Diem
    <%= f.radio_button :breakfast, false %> NA
  </div>

  <div class="row">
    <%= f.label :lunch %>
    <br />
    <%= f.radio_button :lunch, true %> Per Diem
    <%= f.radio_button :lunch, false %> NA
  </div>

  <div class="row">
    <%= f.label :dinner %>
    <br />
    <%= f.radio_button :dinner, true %> Per Diem
    <%= f.radio_button :dinner, false %> NA
  </div>
</div>
