<div class="col-xs-3">
  <div class="">
    <%= f.label :reimb_date, f.object.reimb_date.strftime("%A") + ", " + f.object.reimb_date.to_s %>
  </div>

  <div class="">
    <%= f.label :breakfast %>
    <br />
    <%= f.radio_button :breakfast, true %> Per Diem
    <%= f.radio_button :breakfast, false %> NA
    <br />
    <%= f.text_field :breakfast_desc %>
  </div>

  <div class="">
    <%= f.label :lunch %>
    <br />
    <%= f.radio_button :lunch, true %> Per Diem
    <%= f.radio_button :lunch, false %> NA
    <br />
    <%= f.text_field :lunch_desc %>
  </div>

  <div class="">
    <%= f.label :dinner %>
    <br />
    <%= f.radio_button :dinner, true %> Per Diem
    <%= f.radio_button :dinner, false %> NA
    <br />
    <%= f.text_field :dinner_desc %>
  </div>
</div>
