<%= form_for(@user, url: polymorphic_path(@user, anchor: 'home'), html: { id: :edit_home }) do |f| %>
  <div class="col-xs-12 col-md-6">

    <div class="ui-widget-content ui-corner-all partial_form">

      <table class="table">
        <tbody>
          <tr>
            <td><%= f.label :dob, 'Date of Birth' %></td>
            <td><%= f.date_field :dob %></td>
          </tr>
          <tr>
            <td><%= f.label :cell_number, 'Cell Phone Number' %></td>
            <td><%= f.text_field :cell_number %></td>
          </tr>
          <tr>
            <td><%= f.label :travel_email, 'Preferred Email' %><br />(if different from primary email)</td>
            <td><%= f.text_field :travel_email %></td>
          </tr>
          <tr>
            <td><%= f.label :ecn1, 'First Emergency Contact Name' %></td>
            <td><%= f.text_field :ecn1 %></td>
          </tr>
          <tr>
            <td><%= f.label :ecp1, 'First Emergency Contact Phone' %></td>
            <td><%= f.text_field :ecp1 %></td>
          </tr>
          <tr>
            <td><%= f.label :ecn2, 'Second Emergency Contact Name' %></td>
            <td><%= f.text_field :ecn2 %></td>
          </tr>
          <tr>
            <td><%= f.label :ecp2, 'Second Emergency Contact Phone' %></td>
            <td><%= f.text_field :ecp2 %></td>
          </tr>
          <tr>
            <td><%= f.label :dietary_restrictions, 'Dietary Restrictions' %></td>
            <td><%= f.text_field :dietary_restrictions %></td>
          </tr>
          <tr>
            <td><%= f.label :ada_accom, 'ADA Accomodations' %></td>
            <td><%= f.text_field :ada_accom %></td>
          </tr>
          <tr>
            <td><%= f.label :air_seat_pref, 'Airplane Seat Preference' %></td>
            <td><%= f.select :air_seat_pref, [['Aisle', 'aisle'], ['Middle', 'middle'], ['Window', 'window']], { prompt: 'Select' } %></td>
          </tr>
          <tr>
            <td><%= f.label :hotel_room_pref, 'Hotel Room Preference' %></td>
            <td><%= f.text_field :hotel_room_pref %></td>
          </tr>
          <tr>
            <td><%= f.label :tsa_pre, 'TSA Precheck Number' %></td>
            <td><%= f.text_field :tsa_pre %></td>
          </tr>
        </tbody>
      </table>

      <h4>Frequent Flier Numbers</h4>
      <div class="container">
        <div class="col-xs-12 col-md-6">
          <%= f.fields_for :ff_numbers do |ffn| %>
            <%= render 'ff_number_fields', f: ffn %>
          <% end %>
          <div id="links">
            <%= link_to_add_association '+ Add Frequent Flier Number', f, :ff_numbers %>
          </div>
        </div>
      </div>

    </div>

    <div>
      <hr/>
      <%= f.submit 'Save', class: 'btn btn-primary'%>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 bs-callout bs-callout-info">
    <h2>About your traveler profile</h2>
    <!-- <h4>User Information</h4> -->
    <!-- <p>Accounts using network (LDAP) authentication should not use this system to change their password.</p> -->
    <!-- <p> -->
    <!--   Timezone information is needed in order to provide background information for leave and travel requests. -->
    <!--   This is particularly important if contacts live in different time zones. -->
    <!-- </p> -->
    <!-- <h4>Contacts</h4> -->
    <!-- <p> -->
    <!--   People who will be notified when you fill out a leave and travel request. -->
    <!--   This may also include people that are required to accept / reject your request once it is submitted. -->
    <!-- </p> -->
    <!-- <h4>Delegates</h4> -->
    <!-- <p> -->
    <!--   People who can fill out forms on your behalf. -->
    <!-- </p> -->
  </div>
<% end %>
