<%= form_for(@user, url: polymorphic_path(@user, anchor: 'delegates'), html: {id: :edit_delegates}) do |f| %>
  <div class="col-xs-12 col-md-6">

    <h3>Delegates</h3>
    <div id="ldap_delegates_query" class="ui-widget-content ui-corner-all partial_form">
      <table class="table">
        <thead>
          <tr>
            <th>Action</th>
            <th>Delegate Name</th>
          </tr>
        </thead>
        <tbody id="ldap_delegates_table">
          <%= f.fields_for :user_delegations do |g| %>
            <%= render partial: 'users/user_delegation_fields', locals: {f: g} %>
          <% end %>
        </tbody>
      </table><br/>
      <%= link_to_add_association '+ Add Delegate', f, :user_delegations %>
    </div>
    <div>
      <hr/>
      <%= f.submit 'Save', class: 'btn btn-primary'%>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 bs-callout bs-callout-info">
    <h2>About your delegates</h2>
    <p>
      Delegates have the following abilities:
    </p>
    <ul>
      <li>
        They can fill out leave and travel requests on your behalf
      </li>
      <li>
        They can manage your approvals, accepting or rejecting leave and travel requests on your behalf.
      </li>
    </ul>
    <% if @user.delegators.count > 0 %>
      <h4>People who have granted you delegate access</h4>
      <ul>
        <% @user.delegators.each do |u| %>
          <li><%= u.name || u.email %></li>
        <% end %>
      </ul>
    <% else %>
      <h4>No one has granted you delegate access</h4>
    <% end%>

  </div>
<% end %>

