<div class="bs-callout bs-callout-info">
  <h4>Welcome to the leave and travel request site</h4>
  <p>Please click a button below to get started</p>
</div>
<div id="home-content" class="container">
  <div class="row">
    <div class="col-xs-2">
      <%= link_to 'Account', user_path(current_user),
        class: 'btn btn-default pull-right',
        data: { toggle: :tooltip, placement: :bottom } %>
    </div>
    <div class="col-xs-6">
      View or edit your account
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <%= link_to 'My Forms', user_forms_path(current_user),
        class: 'btn btn-default pull-right',
        data: { toggle: :tooltip, placement: :bottom }%>
    </div>
    <div class="col-xs-6">
      Review and edit existing requests
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle pull-right" type="button" id="dropdownMenu2"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          New Request
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" role='menu'>
          <li>
            <%= link_to 'New Staff Leave Request', new_leave_request_path %>
          </li>
          <li>
            <%= link_to 'New Faculty Leave Request', new_leave_request_path(extra: true)%>
          </li>
          <li>
            <% if current_user.grant_funded? %>
              <%= link_to "New Travel Request", new_grant_funded_travel_request_path %>
            <% else %>
              <%= link_to 'New Travel Request', new_travel_request_path %>
            <% end %>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-xs-6">
      Select a new form from the dropdown list
    </div>
  </div>

  <% if current_user.is_reviewer? %>
    <div class="row">
      <div class="col-xs-2">
        <%= link_to 'Approvals', user_approvals_path(current_user),
          class: 'btn btn-default pull-right',
          data: { toggle: :tooltip, placement: :bottom } %>
      </div>
      <div class="col-xs-6">
        <p>
          Click here to view approvals that need your attention.
        </p>
      </div>
    </div>
  <% end %>
</div>
