<h1 id="approvals_title">
  <%= hf_filter.titleize %>
  Approvals
  <%= "For #{@user.full_name}" unless current_user.id == @user.id %>
</h1>
<div class='container-fluid'>
  <div class="row">
    <%= render partial: 'filter_form' %>
  </div>
  <div class="wide partial_form">
    <% if @approvals.count > 0 %>
      <table id="approvals_table" class='table table-striped'>
        <thead>
          <tr>
            <th>From</th>
            <th>Details</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @approvals.each do |approval| %>
            <%= render partial: "users/shared/row_#{approval.class.table_name}",
              locals: {
              record: approval,
              user: @user,
              show_approver_form: true} %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="digg_pagination">
    <%= will_paginate @approvals %>
  </div>
  <% console %>
