<%= render partial: 'layouts/info', locals: { record: resource } %>

<div id="sign-in-wrapper">

  <div id="sign-in-form" class="col-lg-6 col-md-8 col-xs-12">

    <h2>Please Sign in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table_form">
        <tbody>
          <tr>
            <td><b><%= f.label :login, 'Username:' %></b></td>
            <td><%= f.text_field :login, class: 'wide' %></td>
          </tr>
          <tr>
            <td><b><%= f.label :password, 'Password:' %></b></td>
            <td><%= f.password_field :password, class: "wide" %></td>
          </tr>
          <tr>
            <td colspan='2'><%= f.submit 'Sign in', class: 'btn btn-primary pull-right;' %></td>
          </tr>
        </tbody>
      </table>
    <% end %>

    <%= render :partial => 'devise/shared/links' %>
  </div>
</div>
