<div class="container" style="width: inherit;">
  <div class="row">
    <div class="col-lg-12">
      <h4>Traveler Details</h4>
      <% if grant_funded_travel_request.form_email != grant_funded_travel_request.user.email %>
        <div class="ui-widget-content ui-corner-all wide partial_form">
          <p>Request submitted for: <%= grant_funded_travel_request.user.full_name %></p>
          <br/>
          <b>Submitted by</b><%= grant_funded_travel_request.form_user %>
        </div>
      <% else %>
        <p>Travel Request for <%= grant_funded_travel_request.user.full_name %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="container" style="width: inherit;">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
      </div>
      <div class="row">
        <div class="dest_desc">
          <div class="col-lg-6">
            Travel Destination:
            <br />
            <%= grant_funded_travel_request.dest_desc %>
          </div>
          <div class="col-lg-6">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="dates">
          <div class="col-lg-6">
            Departure date:
            <br />
            <%= grant_funded_travel_request.depart_date %>
          </div>
          <div class="col-lg-6">
            Return date:
            <br />
            <%= grant_funded_travel_request.return_date %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="business_purpose">
        <div class="row">
          Business Purpose:
          <%= hf_business_purpose_desc_to_human[ grant_funded_travel_request.business_purpose_desc ] %>
          <br />
          <% unless [nil, ""].include? grant_funded_travel_request.business_purpose_url %>
            Conference URL:
            <br />
            <%= grant_funded_travel_request.business_purpose_url %>
          <% end %>

          <% unless [nil, ""].include? grant_funded_travel_request.business_purpose_other %>
            Description:
            <br />
            <%= grant_funded_travel_request.business_purpose_other %>
          <% end %>
        </div>
      </div>
      <div class="expense_card toggle_form">
        <div class="row">
          Travel expenses to be charged to an account managed by the Department of Family Medicine?
          <br />
          <b><%= hf_boolean_to_words grant_funded_travel_request.expense_card_use %></b>
        </div>
        <div id="expense_card_type_form" class="stop_flouc">
          <div class="row">
            <% if grant_funded_travel_request.expense_card_use %>
              Account to charge:
              <br />
              <%= grant_funded_travel_request.expense_card_type %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-lg-12">
    <h4>Event & Travel Expenses</h4>
    <div class="col-lg-6">
      <div class="row">
        Will traveler be flying for this event?
        <br />
        <b><%= hf_boolean_to_words grant_funded_travel_request.air_use %></b>
        <% if grant_funded_travel_request.air_use %>
          <div id="air_use_form" class="stop_flouc">
            Will traveler be needing assistance in obtaining airline reservations?
            <br />
            <b><%= hf_boolean_to_words grant_funded_travel_request.air_assistance %></b>
          </div>
          <% if grant_funded_travel_request.air_assistance %>
            <div id="air_assistance_form" class="stop_flouc">
              <p>Seat Preference: <%= grant_funded_travel_request.air_seat_pref %></p>
              <br />
              <p>Frequent Flyer ID: <%= grant_funded_travel_request.ffid %></p>
              <br />
              <p>TSA Precheck #: <%= grant_funded_travel_request.tsa_pre %></p>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="row">

        <div class="toggle_form">
          Will traveler be renting a car for this event?
          <br />
          <b><%= hf_boolean_to_words grant_funded_travel_request.car_rental %></b>
          <div id="rental_car_form">
          <% if grant_funded_travel_request.car_rental %>
            Does traveler need assistance in obtaining rental car reservations?
            <br />
            <b><%= hf_boolean_to_words grant_funded_travel_request.car_assistance %></b>
            <% if grant_funded_travel_request.car_assistance %>
              <div id="rental_car_assistance_form">
                Rental needs (e.g. dates, vehicle size, etc.):
                <br >
                <%= grant_funded_travel_request.rental_needs_desc %>
                <br />
                Cell Phone Number:
                <br />
                <%= grant_funded_travel_request.cell_number %>
                <br />
                Driver License Number:
                <%= grant_funded_travel_request.drivers_licence_num %>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="toggle_form">
          Will traveler need to pay for event registration?
          <br />
          <b><%= hf_boolean_to_words grant_funded_travel_request.registration_reimb %></b>
          <% if grant_funded_travel_request.registration_reimb %>
            <div id="registration_form">
              Does traveler need assistance in paying for registering?
              <br />
              <b><%= hf_boolean_to_words grant_funded_travel_request.registration_assistance %></b>
              <% if grant_funded_travel_request.registration_assistance %>
                <div id="registration_assistance_form">
                  URL of registration site
                  <br />
                  <%= grant_funded_travel_request.registration_url %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="row">
        <div class="toggle_form">
          Will traveler use paid lodging for this event?
          <br />
          <b><%= hf_boolean_to_words grant_funded_travel_request.lodging_reimb %></b>
          <% if grant_funded_travel_request.lodging_reimb %>
            <div id="lodging_form">
              Does traveler need assistance in obtaining lodging reservations?
              <br />
              <b><%= hf_boolean_to_words grant_funded_travel_request.lodging_assistance %></b>
              <% if grant_funded_travel_request.lodging_assistance %>
                <div id="lodging_assistance_form" class="table_form stop_flouc">
                  URL of desired lodging
                  <%= grant_funded_travel_request.lodging_url %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="toggle_form">
          Will traveler use ground transportation (e.g. taxi, shuttle) for this event other than rental or personal vehicle?
          <br />
          <b><%= hf_boolean_to_words grant_funded_travel_request.ground_transport %></b>
          <% if grant_funded_travel_request.ground_transport %>
            <div id="ground_transport_form">
              Does traveler need assistance in obtaining ground transportation?
              <br />
              <b><%= hf_boolean_to_words grant_funded_travel_request.ground_transport_assistance %></b>
              <% if grant_funded_travel_request.ground_transport_assistance %>
                <div id="ground_transport_assistance_form">
                  Describe transportation needs (e.g. shuttle URL, dates, etc):
                  <br >
                  <%= grant_funded_travel_request.ground_transport_desc %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-lg-12">
      <h4>Additional Details</h4>
      <div class="col-lg-6">
        <div class="row">
          Are there additional details provided?
          <br />
          <b><%= hf_boolean_to_words grant_funded_travel_request.additional_info_needed %></b>
          <% if grant_funded_travel_request.additional_info_needed %>
            <div id="ground_transport_form">
              Additional details:
              <br />
              <%= grant_funded_travel_request.additional_info_memo %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          Are there <i>Special Circumstance: Pre-Approval</i> documents relevant to this request provided?
          <br />
          <b><%= hf_boolean_to_words grant_funded_travel_request.additional_docs_needed %></b>
          <% if grant_funded_travel_request.additional_docs_needed %>
            <div id="additional-docs">
              Documents:
              <br />
              <% grant_funded_travel_request.user_files.each do |uf| %>
                <%= link_to "Download #{uf.uploaded_file_file_name}", uf.uploaded_file.url %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
