<h1>Listing Travel Requests</h1>
<div class="ui-widget-content ui-corner-all wide partial_form">
<table>
<thead>
  <tr>
    <th class="ui-widget-header" >Submission Date</th>
    <th class="ui-widget-header" >Departure Date</th>
    <th class="ui-widget-header" >Return Date</th>
    <th class="ui-widget-header" >ID</th>
    <th class="ui-widget-header" >Destination</th>
    <th class="ui-widget-header" >Status</th>   
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @travel_requests.each do |travel_request| %>
  <tr>
    <td><%= travel_request.created_at.strftime('%Y-%m-%d  %r') %></td>
    <td><%= travel_request.dest_depart_date %></td>
    <td><%= travel_request.ret_depart_date %></td>
    <td><%= travel_request.user_id %></td>
    <td><%= travel_request.dest_desc %></td>
    <td><%= travel_request.status %></td>

    <td><%= link_to 'Show', travel_request_path(travel_request) %></td>
    <td><%= button_to 'Delete', travel_request, :confirm => 'Are you sure?', :method=>:delete %></td>

  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Travel Request', new_travel_request_path, :class=>'button' %>
</div>
